body {
    background-color: #F8F9F9;
}


#newSessionBox {
width: 200px;
background-color: #494949;  
padding: 10px;
margin: auto;
border-radius: 10px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#managePlayersBox {
width: 200px;
background-color: #494949;    
padding: 10px;
margin: auto;
border-radius: 10px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#newSessionBox2 {
    width: 200px;
    background-color: #494949;  
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
#managePlayersBox2 {
    width: 200px;
    background-color: #494949;    
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.iconColorSize {
 color: white;
 height: 90px;
 padding: 10px 0 15px 0;
 -webkit-filter: drop-shadow(5px 5px 5px #222);
 filter: drop-shadow(5px 5px 5px #222);

}

.iconColorSize2 {
    color: white;
    height: 90px;
    padding: 0 0 15px 0;
}

#buttonSpaceBox {
 text-align: center;
 margin: 0 0 13px 0;
}

#buttonSpace {
    margin: 0 0 0 20px;
   }

#cms {
padding: 0 0 50px 0;
margin: 0 0 50px 0;
}

h4 {
 font-family: 'Raleway', sans-serif;  
 font-size: 16px;
}

h5 {
 font-family: 'Raleway', sans-serif;  
 font-size: 18px;
}

h6 {
    font-family: 'Raleway', sans-serif;  
    font-size: 12px; 
}

.col-md-8 {
    padding: 20px;
}

.logoImage {
    width: 33%;
    height: auto;
    padding: 15px 0 0 0;
}

.circlePic {
    align-content: center;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #DDD;
    border: 2px solid white;
    padding: 3px;
}

#padMaster {
    padding: 20px;
}

.colPad {
    margin: 20px;
}

.gameRow {
    width: 100%;
    height: auto;
    padding: 20px 0 0 0;
    margin: 0;
}

.row-centered {
    text-align:center;
    margin: 0 20px;
}

.bottomLogo {
    width: 30px;
}

.jumbotron{
    background-color: black;
    padding: 10px 0 0px 0;
    width: 100%;
}

.top-30 {
  padding: 40px 0;
}

.top31 {
  padding: 40px 0;
}


/* Login Form CSS */
.login-form {
    width: 270px;
    height: 380px;
    text-align: center;
    margin: 40px 0 0 0;
    font-family: 'Raleway', sans-serif;
}
.login-form form {        
    margin-bottom: 10px;
    background: #f7f7f7;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.login-form {
    margin: 50px 0 0 0;
}
.form-control, .login-btn {
    min-height: 28px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 14px;
}
.login-btn {
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
}
.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}

.cenForm {
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

.btn-success, .btn-light, .submit, .btn {
  border: 1px solid black !important;
  background-color: white !important;
  color: black !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  cursor: pointer !important;
  box-shadow: 1px 1px darkgray !important;
}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:hover, .btn-success:focus, .btn-light:hover, .submit:active, .submit:focus, .submit:hover .btn:hover, .btn:active, .btn:focus {
  color: #ffffff !important;
  background-color: #2c0001 !important;
  border-color: none !important;
}

/* Footer CSS */
.footerRow {
    width: 100%;
    height: 5px;
    position: fixed;
    left: 0;
    bottom: 70px;
}

.footer {
    width: 100%;
    height: 70px;
    margin: auto;
    color: white;
    background: black; 
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 13px 0 0 0;
    background-image: url("../images/footerbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -0px; 
}

.jumbotron2 {
  background-image: url("../Images/headerbg.jpg");
  background-position: 0 0px; 
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.jumbotron3 {
  background-image: url("../Images/headerbg3.jpg");
  background-position: 0 0; 
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.jumbotron4 {
  background-image: url("../Images/headerbg2.jpg");
  background-position: 0 0; 
  background-size: 100% 80%;
  background-repeat: no-repeat;
}



