body {
    background-color: #F0EAE9;
}

#cms {
height: 800px;
}

h4 {
 font-family: 'Raleway', sans-serif;  
 font-size: 16px;
}

h5 {
 font-family: 'Raleway', sans-serif;  
 font-size: 18px;
}

h6 {
    font-family: 'Raleway', sans-serif;  
    font-size: 12px; 
}

.col-md-8 {
    padding: 20px;
}

.logoImage {
    width: 28%;
    height: auto;
    padding: 20px 0 0 0;
}

.circlePic {
    align-content: center;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #DDD;
    border: 2px solid white;
    padding: 3px;
}

#padMaster {
    padding: 20px;
}

.colPad {
    margin: 20px;
}

.gameRow {
    width: 100%;
    height: auto;
    padding: 20px 0 0 0;
    margin: 0;
}

.row-centered {
    text-align:center;
    margin: 0 20px;
}

.bottomLogo {
    width: 30px;
}

.jumbotron{
    background-color: black;
    padding: 10px 0 0px 0;
    width: 100%;
}

/* Login Form CSS */
.login-form {
    width: 270px;
    height: 380px;
    text-align: center;
    margin: 40px 0 0 0;
}
.login-form form {        
    margin-bottom: 10px;
    background: #f7f7f7;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.login-form {
    margin: 50px 0 0 0;
}
.form-control, .login-btn {
    min-height: 28px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 14px;
}
.login-btn {
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
}
.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}

.cenForm {
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

/* Footer CSS */
.footerRow {
    width: 100%;
    height: 5px;
    position: fixed;
    left: 0;
    bottom: 70px;
}

.footer {
    width: 100%;
    height: 70px;
    margin: auto;
    color: white;
    background: black; 
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 13px 0 0 0;
}
